.column {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.column--sub {
    display: flex;
    flex-direction: row;
}

.column--large { min-width: 630px; }
.column--medium { min-width: 300px; }
.column--small { min-width: 240px; }