.l-column {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.l-column .l-column--sub {
    display: flex;
    flex-direction: row;
}

.l-column.l-column--large { width: 630px; }
.l-column.l-column--medium { width: 300px; }
.l-column.l-column--small { width: 240px; }