.l-column {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.l-column--sub {
    display: flex;
    flex-direction: row;
}

.l-column--large { min-width: 630px; }
.l-column--medium { min-width: 300px; }
.l-column--small { min-width: 240px; }