.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 325px;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
}

.footer-info {
    display: flex;
    padding: 20px;
}

.footer-info .nav-list{
    padding-left: 25px;
}

.footer-info-title {
    padding-right: 25px;
    border-right: 2px solid white;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}