.logo {
    display: flex;
    color: MediumAquamarine;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 60px;
    margin-right: 12px;
  }

.logo .logo-caption {
    white-space: nowrap;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}