.nav-list {
    display: flex;
    flex-wrap: nowrap;
}

.nav-list-item {
    padding: 0 10px;
}

.nav-list a {
    color: black;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

.nav-list--footer a {
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
}