.side-image {
    height: 240px;
    width: 240px;;
}

.side-header {
    padding: 10px 10px 40px 10px;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.side-menu {
    display: flex;
    flex-direction: column;
    background-color: WhiteSmoke;
    color: DimGray;
    font-family: Verdana;
    font-size: 12px;
    line-height: 1.2em;
}

.side-menu-item {
    padding: 12px 20px;
    border-bottom: 1px solid black;
}